/* elements */
body, select, input, textarea {
	color: #ffffff; /* off black */
	font-family: Times, Helvetica, Arial, sans-serif;
	font-size: 14px;
	background: #000000 url('../images/bg.jpg') top center no-repeat;
	line-height: 16px;
	
}

/* Headers (h1, h2, etc) have no default font-size or margin; define those yourself */
p {margin: 0;}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	text-transform: uppercase;
}

h3 {
	font-size: 18px;
}


a, a:active, a:visited {
	color: #ffffff;
	text-decoration: none;
}
a:hover {
	color: #ffffff;
	text-decoration: underline;
}
