/* elements */
body, select, input, textarea {
	color: #ffffff; /* off black */
	font-family: Arial, "Times New Roman", Helvetica, sans-serif;
	font-size: 15px;
	background: #000000 url('../images/bg_inner.jpg') top center no-repeat;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	text-transform: uppercase;
}

h2 {font-size: 20px;}

h1,
h3 {
	font-size: 18px;
	margin: 0px 0 25px 0;
	text-shadow: 1px 3px 2px #000000
}
.home h3 {margin-top: 30px;}

a, a:active, a:visited {
	color: #ffffff;
	text-decoration: none;
}
a:hover {
	color: #ffffff;
	text-decoration: underline;
}

.item-page a {color: #ed1c2a;}

ul {
	margin: 0;
	padding: 0;
}

li {
	color: red;
}

#body li {
	list-style: inside;
}