/* layout */

.container {
	width: 940px;
	padding: 0 10px;
	margin: 0 auto;
}

#header {
}

#body {
	background: url('../images/bg_body.jpg') top center no-repeat;
	padding-bottom: 40px;
	margin-top: 17px;
}

.home #body {background: url('../images/bg_bodyHome.jpg') top center no-repeat; margin-top: 0;}

#content {
	float: left;
	width: 620px;
	padding: 0 20px 0 0px;
}

#sidebar {
	float: left;
	width: 280px;
	padding: 0 0px 0px 20px;
}

#bottom {
	float: left;
}

#footer {
	background: url('../images/footer_borderTop.png') top center no-repeat;
	padding: 20px 0;
	color: #cecece;
}

#copyright {
	float: left;
	background: url('../images/bg_copyright.png') top left no-repeat;
	font-size: 9px;
	padding: 0 0 20px 25px;
}

.chromeFrameInstallDefaultStyle {
  width: 100%; /* default is 800px */
  border: 5px solid blue;
	margin-top: 50px;
}

.chromeFrameOverlayContent {
	margin-top: -250px;
	height: 400px;
}

.chromeFrameOverlayContent IFRAME {
	height: 400px;
}