/* layout */

.container {
	width: 940px;
	padding: 0 10px;
	margin: 0 auto;
}

#header {
	height: 227px;
}

#body {
	background: url('../images/bg_body.jpg') top center no-repeat;
	padding-bottom: 40px;
}

#content {
	float: left;
	width: 620px;
	padding: 0 20px 0 0px;
}

#sidebar {
	float: left;
	width: 280px;
	padding: 0 0px 0 20px;
}

#bottom {
	float: left;
}

#footer {
	background: url('../images/footer_borderTop.png') top center no-repeat;
	padding: 20px 0;
}

#copyright {
	background: url('../images/bg_copyright.png') top left no-repeat;
	font-size: 9px;
	padding: 0 0 20px 25px;
}