.module_hmenu ul,
.moduletable_hmenu ul {
	margin: 0;
	padding: 0;
}

.module_hmenu .menu > li,
.moduletable_hmenu .menu > li {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	position: relative;
	z-index: 1;
	list-style: none;
}

.module_hmenu.primary {
	background: url('../images/bg_menu.png') top center repeat-x;
	font-size: 15px;
}

.module_hmenu.primary > div {
	background: url('../images/menu_shadow.png') bottom center no-repeat;
	padding: 0 0 10px 0;
}

.module_hmenu.primary > div > div {
	width: 940px;
	padding: 0px 10px;
	margin: 0 auto;

}

.module_hmenu.primary .menu > li { 
	margin: 0;
}

.module_hmenu.primary ul > li a {
	display: block;
	text-decoration: none;
	padding: 0 23px 0 15px;
	margin: 0 0 0 8px;
}

.module_hmenu.primary .menu > li > a > span {
	display: block;
	padding: 12px 0 12px 13px;
}


.module_hmenu.primary .menu > li > a span span {
	display: block;
	padding: 0 12px 0 0;
}
.module_hmenu.primary .menu > li.parent {}
.module_hmenu.primary .menu > li.parent > a {}

.module_hmenu.primary .menu > li.parent:hover { background: url('../images/menu_over.png') left 1px no-repeat }
.module_hmenu.primary .menu > li.parent:hover > a { background: url('../images/menu_over.png') bottom right no-repeat}
.module_hmenu.primary .menu > li:hover > a span { background: url('../images/menu_rollover.png') left no-repeat;}
.module_hmenu.primary .menu > li:hover > a span span { background-position: right center; }

.module_hmenu.primary ul > li > div { 
	display: none;
	position: absolute;
	top: 100%;
	left: 8px;
	z-index: -1;
/*	-webkit-border-radius: 0 10px 10px 10px;
	-moz-border-radius: 0 10px 10px 10px;
	border-radius: 0 10px 10px 10px;

	-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
*/
    background: url('../images/dropdown_top.png') top center no-repeat;
	padding: 14px 0 0 0;
	margin: -8px 0 0 0;
}
.module_hmenu.primary ul > li:hover div {display: block;}

.module_hmenu.primary ul ul {
	background: url('../images/dropdown_bottom.png') bottom center no-repeat;
	padding: 0 0 14px 0;
}

.module_hmenu.primary ul ul li {
	width: 159px;
	white-space:nowrap;
	line-height: 20px;
	padding: 0;
	list-style: none;
	background: url('../images/dropdown_middle.png') center center repeat-y;
}

.module_hmenu.primary ul ul li:hover {
	background: #323232;
}

.module_hmenu.primary ul ul a {padding: 0 0 0 10px;}


/* secondary menu */

.moduletable_hmenu.secondary {
	float: right;
	font-size: 14px;
}

.moduletable_hmenu.secondary ul > li:first-child {border-left: none;}
.moduletable_hmenu.secondary ul > li {
	border-left: 1px solid #cecece;
	line-height: 11px;
	padding: 0 14px;
}

.moduletable_hmenu.secondary a {color: #cecece;}
.moduletable_hmenu.secondary a:hover {color: #ffffff; text-decoration: none;}