/* @group modules */
.moduletable {}

/* @group hmenu */
/* primary menu*/
.module_hmenu {}

.module_hmenu ul,
.moduletable_hmeny ul {
	margin: 0;
	padding: 0;
}

.module_hmenu ul > li,
.moduletable_hmenu ul > li {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	position: relative;

}

.module_hmenu.primary {
	background: url('../images/bg_menu.png') top center repeat-x;
	font-size: 15px;
}

.module_hmenu.primary > div {
	background: url('../images/menu_shadow.png') bottom center no-repeat;
	padding-bottom: 10px;
}

.module_hmenu.primary > div > div {
	width: 940px;
	padding: 0px 10px;
	margin: 0 auto;
}

.module_hmenu.primary ul > li {
	padding: 13px 0 13px 18px;
}

.module_hmenu.primary ul > li:hover {
	background: url('../images/menu_rollover.png') left center no-repeat;
}

.module_hmenu.primary ul > li > a {
	padding-right: 18px;
}

.module_hmenu.primary ul > li:hover > a {
	background: url('../images/menu_rollover.png') right center no-repeat;
	text-decoration: none;
}

.module_hmenu.primary ul > li > ul {display: none;}

.module_hmenu.primary ul > li:hover > ul {
	background: #404040;
	display: block;
	position: absolute;
	left: 15px;
	margin-top: 13px;
}

.module_hmenu.primary ul > li > ul > li {
	width: 140px;
	white-space:nowrap;
	line-height: 20px;
	padding: 0 10px;
}

.module_hmenu.primary ul > li > ul > li:hover {
	background: #343434;
}

.module_hmenu.primary ul > li > ul > li > a {
	padding: 0;
}

.module_hmenu.primary ul > li:hover > ul > li > a {
	text-decoration: none;
	background: none;
}

/* secondary menu */

.moduletable_hmenu.secondary {
	float: right;
	font-size: 11px;
}

.moduletable_hmenu.secondary ul > li:first-child {border-left: none;}
.moduletable_hmenu.secondary ul > li {
	border-left: 1px solid #cecece;
	line-height: 11px;
	padding: 0 14px;
}

.moduletable_hmenu.secondary a {color: #cecece;}
.moduletable_hmenu.secondary a:hover {color: #ffffff; text-decoration: none;}

.module.logo {
	padding: 9px 10px 0 10px;
	width: 940px;
	margin: 0 auto;
	text-align: center;
}

.module.pageTitle {
	background: url('../images/slogan_shadowTop.png') top center no-repeat;
	padding-top: 15px;
	line-height: 50px;
	font-size: 18px;
}

.module.pageTitle > div {
	background: url('../images/slogan_shadowBottom.png') bottom center no-repeat;
	padding-bottom: 10px;
}

.module.pageTitle > div > div {
	width: 940px;
	margin: 0 auto;
	text-align: left;
}

.module.pageTitle img {vertical-align: middle;}

.home .pageTitle {text-align: center; text-transform: none;}

.module.masthead {
	overflow: hidden;
	background: url('../images/masthead_image.jpg') top center no-repeat;
}

.module.masthead > div {
	position:relative;
	height: 300px;
}

.module.masthead > div > div {
	position: absolute;
	bottom: 0px;
	padding: 0 0 10px 0;
	background: url('../images/bg_mastheadText.png') top center repeat;
	width: 100%;
}

.custom.masthead {
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
}
.module.masthead h2 {margin-bottom: 10px;}

#sidebar .moduletable,
#bottom .moduletable {
	background: url('../images/bg_module.png') bottom right no-repeat;
	padding-bottom: 11px;
}

#sidebar .moduletable:first-child {margin-top: 0;}
#sidebar .moduletable {margin-top: 29px;}

#bottom .moduletable:first-child {margin-left: 0;}
#bottom .moduletable {
	float: left;
	width: 280px;
	margin-left: 50px;
}