.module.logo {
	padding: 15px 10px 0 10px;
	width: 940px;
	margin: 0 auto;
	text-align: center;
}
.ie7 .module.logo { padding: 19px 10px 0 10px; }
.ie8 .module.logo { padding: 16px 10px 0 10px; }


.module.pageTitle {
	background: url('../images/slogan_shadowTop.png') center 3px no-repeat;
	padding-top: 15px;
	line-height: 50px;
	font-size: 18px;
}

.module.pageTitle > div {
	background: url('../images/slogan_shadowBottom.png') bottom center no-repeat;
	padding-bottom: 10px;
}

.module.pageTitle > div > div {
	width: 940px;
	margin: 0 auto;
	text-align: left;
}

.module.pageTitle p {margin: 0}

.module.pageTitle img {vertical-align: middle;}

.home .pageTitle {text-align: center; text-transform: none;}

.module.masthead {
	overflow: hidden;
	background: url('../images/masthead_image.jpg') top center no-repeat;
}

.module.masthead > div {
	position:relative;
	height: 300px;
}

.module.masthead > div > div {
	position: absolute;
	bottom: 0px;
	padding: 0 0 10px 0;
	background: url('../images/bg_mastheadText.png') top center repeat;
	width: 100%;
}

.custom.masthead {
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
}
.module.masthead h2 {margin-bottom: 10px;}

#sidebar .moduletable:first-child {margin-top: 0}
#sidebar .moduletable {
	margin-top: 1em;
	position: relative;
	padding: 0 0 30px 0;
}

#sidebar .moduletable,
#bottom .moduletable {
	background: url('../images/bg_module.png') bottom right no-repeat;
}

#bottom .moduletable:first-child {margin-left: 0;}
#bottom .moduletable {
	float: left;
	width: 280px;
	margin-left: 50px;
	position: relative;
	padding: 0 0 10px 0;
}

/*bottom mods*/
.moduletable.news p {margin-bottom: 5px;}
.moduletable.news a {color: #ed1c2a;}

.moduletable.news .mod-articles-category-date,
.moduletable.news .mod-articles-category-readmore {width: auto}

.moduletable.news .mod-articles-category-date {float: left}
.moduletable.news .mod-articles-category-readmore {
	float: right;
	font-size: 11px;
	margin: 0;
}

.moduletable.news p.viewAll {
	margin-bottom: 0;
}

.moduletable.news .viewAll a {
	float: right;
	color: #fff;
}
