/* styles */
.clr, .clear { clear: both; }
.left { float: left; }
.right { float: right; }

.hidden { display: none; }

/* These selection declarations have to be separate
   No text-shadow: twitter.com/miketaylr/status/12228805301
   Also: hot pink! */
/* TODO Update selection BG color */
::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; }

.dateStyle,
.mod-articles-category-date {
	font-size: 11px;
	font-style: italic;
	color: #ed1c2a;
}

.items-leading h1 {
	font-size: 14px;
	color: #ed1c2a;
	margin-bottom: 0;
	text-transform: none;
}

.items-leading div {margin-bottom: 3em}

.items-leading div p {margin-top: 0}